.home-body{
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;
}

.home-texts{
    height: 70vh;
}

.main-heading{
    font-size: 40px;
}

.heading{
    color: var(--primary-color);
}


.img{
    width: 70%;
    height: 80vh;
}

.guest-login-btn{
    background-color: var(--primary-color);
    width: 35%;
    border-radius: 0.2rem;
    font-weight: bolder;
}